<div class="flex items-center justify-center m-24 mx-[550px] min-h-[450px] bg-[#FFFFFF] shadow-md flex-col gap-6 rounded-[24px]">

<h1 class="text-3xl">Your Tasks</h1>


<input type="text" placeholder="Enter Your Task" [(ngModel)]="entered">
<input type="number" placeholder="Enter Days Before Finish" [(ngModel)]="days">
<button (click)="handleAdd()">Add</button>

<div *ngIf="getCard().length>0">
    <div *ngFor="let item of getCard()">
        <app-item [item]="item"></app-item>
    </div>
</div>

<div *ngIf="getCard().length===0">
    <p>Your Card is Empty</p>
</div>
</div>